/*
 * style.cssw
 */
@import url('https://fonts.googleapis.com/css?family=Arima+Madurai');
@import url('https://fonts.googleapis.com/css?family=Orbitron');
/*=======================================================================================================*/
.bgcolor1 { background-color: #d5f5e3; }
.bgcolor2 { background-color: #fec6ba; }
.bgcolor3 { background-color: #aed6f1; }
/*=======================================================================================================*/
* { margin: 0; padding: 0; }
html, body { min-height: 100%; }
body { overflow-x: hidden; background-color: #fff; background-size: cover; }
/*=======================================================================================================*/
#page_header, #page_content, #page_footer { width: 100%; float: left; clear: both; }
/*=======================================================================================================*/
#page_header { overflow: hidden; background: #fff no-repeat; position: relative; }
/*=======================================================================================================*/
@keyframes display_vertical {
    0%   { height: 1.6em; }
    100% { height: 6.6em; }
}
div#page_header_languages {
    overflow-y: hidden; position: absolute; margin: 0; z-index: 99;
    vertical-align: baseline; text-align: center; transition: height .75s ease;
    height: 1.6em; /* 1em == height of a letter in a line */;
    width: 100%; float: right;
}
div#page_header_languages:hover { cursor: pointer; height: 6.6em; }

ul.dropdown_menue { list-style: none; float: right; margin: 2px 6px 0 0; }
ul.dropdown_menue > li { 
    margin: 0; padding: 1px 6px 4px 6px; color:#fff; font-family: "Segoe UI", "Segoe", "Arial", "Tahoma", "Verdana";
}
ul.dropdown_menue > li:not(:first-child):hover { background-color:#f2f4f4; color: #000; }
ul.dropdown_menue > li:first-child { font-weight: bold; }

div.tags_block { margin-bottom: 12px; }
ul.tags { list-style: none; padding: 0; }
ul.tags > li {
    display: inline; padding: 4px 8px; border-radius: 4px; background-color: #fa4f2a; color: #fff;
    font-family: "Segoe UI", "Segoe", "Arial", "Tahoma", "Verdana"; font-size: 1.5ch; /* 1ch == length of character '0' */
    text-shadow: 1px 1px rgba(0,0,0,.6); box-shadow: 1px 1px 2px rgba(0,0,0,.9);
}
/*=======================================================================================================*/
#page_content { background-color: #fff; }
#page_content > div[class] { 
	overflow-y: auto; /* auto height-wrap content within <section> */
	padding: 10px 20px 30px 20px; font-family: 'Verdana';
}
/* class="title_language_menue" */
#page_content > div[class] > p:first-of-type > span:not(:first-of-type) { display: none; }
#page_content > div[class] > p:first-of-type > span:first-of-type { display: block; } /* inline-block */
#page_content > div[class] > p:first-of-type { text-align: center; margin: 20px 0 20px 0; font-size: 20px; cursor: pointer; }
/* class="content_language" */
#page_content > div[class] > p[class]:not(:first-of-type) { display: none; }
#page_content > div[class] > p[class]:not(:first-of-type):nth-of-type(2) { display: block; } /* inline-block *
/*=======================================================================================================*/
@keyframes underline_width {
    0%   { width: 8ch; }
    50%  { width: 2ch; }
    100% { width: 8ch; }
}
.underline {
    height: 4px;
    width: 8ch;
    display: block;
    margin: 0 auto; /* align center */
    margin-top: 10px;
    background-color: #000;
    /*transition: width 1s ease;*/ /* transition for the 'width' property */
}
#page_content > div[class] > p:first-child > span:hover ~ .underline {
    /*width: 2ch;*/ /* transition for the 'width' property */
    animation: underline_width .75s;
}
/*=======================================================================================================*/
#page_footer {
	background: rgba(40,40,42,.76); text-shadow: 1px 1px rgba(0,0,0,1); color: #fff;
    background: linear-gradient(111deg, rgba(6,6,50,1) 0%, rgba(89,46,46,1) 68%, rgba(224,179,179,1) 100%); 
}
#page_footer ul { 
    list-style: none; padding: 12px 0 4px 8px; font-size: 14px;
    font-family: "Segoe UI", "Segoe", "Arial", "Tahoma", "Verdana";
}
#page_footer p { text-align: center; }